//UserAccountPage.js
.user_account {
    background: var(--white);

    .form_container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

//FormNav.js
.form_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    .nav {
      padding: 0 2rem;

      li {
          list-style: none;

        a {
            text-decoration: none;
            color: var(--secondary-color);
            font-size: 1.5rem;
            padding: 0.7rem;
        }
      }
    }
}

// CreateAccount and Login
.user_access {
    background: #fff;

    .title{
        padding: 1.2rem;
        letter-spacing: 2px;
        text-align: center;
        font-size: 1.2rem;
    }

    .form {
        padding: 1rem;
        width: 550px;
        font-size: 1.2rem;
    }
}

