.services_section {
    background: var(--secondary-color);
    color: #fff !important;
    height: 100%;
    width: 100%;

    .services_container {
     padding: 3rem;

     .services_content {
         padding: 1rem 0;
     }
    }
}

