.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .auth_btn {
        width: 100%;
        padding: 1rem 0;
        background: #000;
        color: #000
    }
}