.bestsellers {
    background: #fff;
    height: 100%;
}

.bestseller_section {
    padding: 3rem;
   
    h3 {
        text-align: center !important;
        align-items: center;
    }
}

.link_btn {
    text-decoration: none;
    color: #feefea;

   &:hover {
    text-decoration: none;
    color: #feefea;
  }
}

.custom_btn {
    margin: 0 auto;
}

.products {
    width: 23%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;

    .product_image {
        width: 100%;
        height: 90%;
        background-size: cover;
        background-position: center;
        margin-bottom: 0.5rem;
    }

    .product_details {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
        font-size: 18px;

        .title {
            width: 100%;
            letter-spacing: 1px;
        }
    }


}

@media screen and (max-width: 480px) {
    .bestseller_section {
       display: flex;
       flex-direction: column;
       padding: 3rem;
    }

    .products {
        width: 22%;
    }
}