.hero {
    background: url('../../assets/images/face.jpg') no-repeat center/cover;
    position: relative;
    height: 100%;
    max-width: 100%;
    border-top: 1px solid var(--secondary-color);
}

.hero_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 8rem;
}

.hero_content h3 {
    font-size: 4rem;
    padding-top: 4rem;
    letter-spacing: 3px;
    font-weight: bold;
    color: #fff;
}

.hero_content p {
    color: #fff;
    font-size: 1.5rem;
}

.overlay {
    background: rgba(105, 105, 105, 0.4);
}