.news_section {
    background: url('https://content.asos-media.com/-/media/homepages/unisex/homepages/2020/09-sept/peak-promo/textures/09/mob_hero_live_banner-_peak_squiggle_-9.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
}

.newsLetter {
   
    h3{
      color: #fff;
      letter-spacing: 2px;
    }

    .form {
        padding: 15px;

       input {
           width: 350px;
           padding: 10px;
           font-weight: 400;
           font-size: 17px;
           border: 2px solid var(--primary-color);
       }

       .btn{
           width: 350px;
           font-weight: bold;
           padding: 10px;
           margin-bottom: 3px;
           font-size: 17px;
           outline: none;
           background-color: #fff;
           border: 2px solid var(--primary-color);
           color: #000;

           &:hover {
               background-color: var(--accent-color);
           }
       }
    }
}