.hero {
    background: url('../../assets/images/hero1.jpg') no-repeat center/cover;
    position: relative;
    height: 100%;
    width: 100%;

.hero_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20rem 0 5rem 0;
    height: 100vh;
    width: 100%;

h3 {
    font-size: 3.5rem;
    // font-family: 'Cinzel', serif;
    letter-spacing: 2px;
    font-weight: bold;
    color: #fff;
}

p {
    color: #feefea;
    font-size: 1.5rem;
    color: #feefea;
    letter-spacing: 2px;
}

}
.overlay {
    background: rgba(105, 105, 105, 0.5);
    height: 100%;
  }
}

@media screen and (max-width: 480px) {
  .hero_content {

h3 {
    font-size: 2rem;
    letter-spacing: 1px;
}
p {
    font-size: 1.2rem;
}
  }   
}