

.user_account {
    background: var(--white);
}

// CreateAccount and Login
.user_access {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;

    .title{
        padding: 1.2rem;
        letter-spacing: 2px;
        text-align: center;
        font-size: 1.2rem;
    }

    .form {
        padding: 1rem;
        width: 550px;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 480px) {
    .user_access {

    .form {
        width: 100%;
        font-size: 0.8rem;
        padding: 0.8rem;
    }
    }
}