.user_menu {
    background: #000 !important;

    .signup, .logout, .login, .orders {
        text-decoration: none !important;
        color: #000 !important;
        padding: 10px !important;

    
    }
}