.bestsellers {
    background: #fff;
}

.bestseller_section {
    padding: 2rem;
    height: 100vh;

    h3 {
        text-align: center !important;
        align-items: center;
    }
}

.product_grid {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;

    &.medium {
        width: 280px;
        height: 350px;
    }

    .product_image {
        width: 100%;
        height: 90%;
        background-size: cover;
        background-position: center;
        padding: 8rem;
    }

    .product_details {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
        font-size: 18px;

        .title {
            font-weight: bold;
            letter-spacing: 1px;
        }
    }


}