.header {
    padding: 10px;
    background: #000;
    width: 100%; 
    border-top: 1px solid #101010;
}

.header_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

h2 {
    text-align: center;
}

.header_features span, .header_links span {
    padding: 0 1rem;
    font-size: 17px;
    cursor: pointer;
}

.shop, .logo, .videos {
    text-decoration: none !important; 
    color: #fff !important;  
  }