.makeup_section {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;

    &.medium {
        width: 250px;
        height: 350px;
    }

    .makeup_image {
        width: 100%;
        height: 90%;
        background-size: cover;
        background-position: center;
        padding: 8rem;
    }
}