.menu {
    padding: 2rem;
}

.menu_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.menu_content h3 {
    letter-spacing: 2px;
}

.menu_content a {
    text-decoration: none;
}

.menu_content .makeup a {
    color: var(--black);
}