
.menu_content {

.makeup {
    background: #1f1f1f;
    width: 100%;

a {
    color: #f5e5df;


    &:hover {
        color: #d5a796;
    }

}
}

.skincare {
     background: #ecdbce;
    
a {
    color: #1f1f1f;

   &:hover {
    color: #d5a796;
   }
}
}

h3 {
    letter-spacing: 2px;
    padding: 1.5rem;
}

a {
    text-decoration: none;

&:hover {
    text-decoration: underline;
}
}
}