footer {
    background: var(--secondary-color);
    color: var(--white);

.footer_content {
    padding: 2rem 4rem;
       
    h5 {
        color: var(--primary-color);
        font-weight: bold;
        cursor: pointer;
    }

    ul {
        padding: 0.8rem 0;

        li {
            list-style: none;
            cursor: pointer;
        }
    }
}

   
}