.section_one {
    background: #000;
    color: #fefffe;
    padding: 5px;
    max-width: 100%;


.section_one_contents {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    margin-left: auto;


span {
    padding: 0 1rem;
}

}
}