
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');



/*
font-family: 'Cinzel', serif;
*/

:root {
  --primary-color: #d5a796;
  --secondary-color: #000;
  --accent-color:#d9ccbc;
  --white: #fefefe;
  --black: #1f1f1f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Jost', sans-serif !important;
  background: var(--white) !important;
}

a {
  text-decoration: none;
}

.logo {
  font-family: 'Cinzel', serif;
  font-weight: 600 !important;
}
