
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');


:root {
  --primary-color: #d5a796;
  --secondary-color: #757f6f;
  --accent-color:#f5e5df;
  --white: #fefffe;
  --black: #1f1f1f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Jost', sans-serif !important;
  background: var(--white) !important;
}

.logo {
  font-family: 'Jost', sans-serif;
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 900 !important;
}
