.cart_modal {
    position: absolute;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #000;
    background: #fff;
    top: 100px;
    right: 20px;
    z-index: 5;

.cart_items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

.cart_message {
    font-size: 16px;
    margin: auto;
}
}

.button {
    margin-top: auto;
}
}