.dropdown {
    position: absolute;
    width: 300px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #000;
    background: #fff;
    top: 8px;
    right: 0;
    z-index: 5;

.cart_items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.button {
    margin-top: auto;
}
}