.custom_btn {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: #000;
    color: #feefea !important;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
  
    &:hover {
      background: #1f1f1f;
      color: #feefea;
    }
  
    &.google-sign-in {
      background: transparent;
      border: 2px solid #4285f4;
      color: #4285f4 !important;
  
      &:hover {
        background: #357ae8;
        color: #fff !important;
        border: none;
      }
    }
  
    &.shop {
      background-color: #fff;
      color: #000 !important;
      border: 1px solid #000;
      width: 100%;
      position: absolute;
      top: 400px;
  
      &:hover {
        background-color: #000;
        color: white !important;
        border: none;
      }
    }
}